/* Шапка сайта */

.header {
	display: flex;
	align-items: center;
	padding: 20px;
}

.logo {
	display: flex;
}

.menu {
	margin-left: 60px;
}

.menu__items {
	display: flex;
	gap: 40px;
	list-style: none;
}

.menu__link {
	text-decoration: none;
	font-size: 16px;
	color: #424551;
	font-weight: bold;
	transition: color .25s linear;
}

.menu__link:hover {
	color:#FF5A30;
}

.contact__action {
	display: flex;
	list-style: none;
	gap: 40px;
	margin-left: auto;
}

.action__items {
	display: flex;
	align-items: center;
	gap:20px;
}

.contact__link {
	font-size: 32px;
	color: #FF5A30;
	transition: color .25s linear;
}

.contact__link:hover {
	color:#000000;
}

.contact__text {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	color:#424551;
}

.contact__data {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	color:#1E212C;
}

/* Слайдер */

.slider {
	width: 100%;
	height: 100vh;
	background: url("../img/slider.jpg") center no-repeat;
	background-size: cover;
	position: relative;
}

.slide__back {
	position: absolute;
	top:50%;
	left:32px;
	font-size: 25px;
	color:#000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-radius: 50%;
	padding: 10px 12.5px;
	opacity: 0.5;
	transition: opacity .125s linear;
}

.slide__back:hover {
	opacity: 1;
}

.slide__next {
	position: absolute;
	right: 32px;
	top: 50%;
	font-size: 25px;
	color:#000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-radius: 50%;
	padding: 10px 12.5px;
	opacity: 0.5;
	transition: opacity .125s linear;
}

.slide__next:hover {
	opacity: 1;
}


.slider__block {
	color:#FFFFFF;
	padding: 220px 20px 100px 20px;
}

.heading {
	margin: 0;
	width: 575px;
	font-size: 72px;
	font-weight: bold;
	text-transform: uppercase;
}

.x__style {
	color:#FF5A30;
}

.text {
	margin: 24px 0 61px 0;
	width: 575px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}

.btn__items {
	display: flex;
	list-style: none;
	align-items: center;
	gap:20px;
}

.btn__learn {
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	padding: 12.5px 40px;
	text-decoration: none;
	text-transform: uppercase;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: .25s linear;
}

.btn__learn:hover {
	border: 1px solid #FF5A30;
	background-color: #FF5A30;
}

.btn__submit {
	border: 1px solid #FF5A30;
	background-color: #FF5A30;
	border-radius: 5px;
	padding: 12.5px 40px;
	text-decoration: none;
	text-transform: uppercase;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: .25s linear;
}

.btn__submit:hover {
	border: 1px solid #FFFFFF;
	background-color: transparent;
}

.page__items {
	display: flex;
	list-style: none;
	gap:5px;
	margin-top: 180px;
}

.page__item {
	opacity: 0.5;
	transition: opacity .125 linear;
}

.page__item:hover {
	opacity: 1;
}

.page__link {
	font-size: 28px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 150px 12px 0;
	border-bottom: 1px solid #FFFFFF;
}

/* Видео */

.video {
	margin: 120px auto 180px auto;
}

.block__heading {
	font-size: 46px;
	color: #1E212C;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

.block__heading-left {
	text-align: left;
	width:60%;
}

.block__heading-wdth {
	text-align: left;
}

.block__text {
	font-size: 18px;
	color: #787A80;
	font-weight: 400;
	margin: 0;
	padding: 24px 0 60px 0;
	text-align: center;
}

.video__item {
	width: 100%;
	height: 500px;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
}

/* Значения */

.values {
	margin-bottom: 120px;
}

.boxes__values {
	display: flex;
	justify-content: space-between;
	list-style: none;
	text-align: center;
}

.boxes__item {
	padding: 0 94px;
	border-right: 1px solid #DADBDD;
}

.boxes__item:first-child {
	padding-left: 0;
}

.boxes__item:last-child {
	border-right: none;
	padding-right: 0;
}

.icon {
	margin: 0 auto;
}

.boxes__head {
	font-size: 20px;
	font-weight: bold;
	color: #1E212C;
	margin: 0;
	padding: 24px 0 8px 0;
}

.boxes__text {
	font-size: 16px;
	font-weight: 400;
	color: #787A80;
	margin: 0;
	line-height: 25px;
}

/* Запрос */

.request {
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.06);
	padding: 48px 60px;
	border-radius: 5px;
	margin-bottom: 120px;
}

.request__head {
	margin: 0;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: #1E212C;
	padding: 48px 0 32px 0;
}

.request__form {
	display: flex;
	gap:24px;
	justify-content: center;
}

.lbl__form {
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #424551;
	padding-bottom: 10px;
}

.sbmt__form {
	color: #9A9CA5;
	padding: 13px 56px 13px 15px;
	border: 1px solid #D7DADD;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
}

.btn__form {
	color: #FFFFFF;
	padding: 13px 32px;
	border: 1px solid #FF5A30;
	background-color: #FF5A30;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-left: 24px;
	cursor: pointer;
	transition: .25s linear;
}

.btn__form:hover {
	border: 1px solid #424551;
	background-color: #424551;
	color: #FFFFFF;
}

/* Услуги */

.services {
	margin-bottom: 200px;
}

.service__idle {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.service__item {
	text-align: center;
	border: 1px solid #E5E8ED;
	border-radius: 5px;
	width: 24%;
	padding: 100px 0;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.06);
	cursor: pointer;
	position: relative;
}

.img__hover {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top:0;
	opacity: 0;
	filter: blur(2.5px);
	transition: .25s linear;
}

.service__item:hover .service__head {
	color: white;
}

.service__item:hover .service__icon {
	color: white;
}

.service__item:hover .img__hover {
	opacity: 1;
}

.service__icon {
	color: #FF5A30;
	font-size: 50px;
	transition: .25s linear;
}

.service__head {
	margin: 0;
	padding-top: 25px;
	font-size: 20px;
	font-weight: bold;
	color: #1E212C;
	transition: .25s linear;
}

.view__all {
	display: flex;
	justify-content: center;
	gap: 40px;
	align-items: center;
	margin-top: 80px;
}

.view__head {
	margin: 0;
	font-size: 28px;
	font-weight: bold;
	color: #1E212C;
}

.view__link {
	color: #FFFFFF;
	padding: 15px 40px;
	border: 1px solid #FF5A30;
	background-color: #FF5A30;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	transition: .25s linear;
}

.view__link:hover {
	border: 1px solid #424551;
	background-color: #424551;
	color: #FFFFFF;
}

/* Портфолио */

.portfolio {
	margin-bottom: 200px;
}

.port__slide {
	list-style: none;
	display: flex;
	justify-content: right;
	gap: 10px;
	margin-bottom: 48px;
}

.slide__item {
	font-size: 25px;
	border-radius: 50%;
	padding: 10px 11px;
	transition: .25s linear;
}

.port__back,
.port__next {
	color: #424551;
	text-decoration: none;
}

.slide__item:hover {
	background-color: #FF5A30;
	color: #FFFFFF;
}

.slide__item:hover .port__back {
	color: #FFFFFF;
}

.slide__item:hover .port__next {
	color: #FFFFFF;
}

.port__card {
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.port__item {
	text-align: center;
	transition: .25s linear;
}

.port__item:hover {
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.06);
}

.card__head {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	color: #1E212C;
	padding-top: 16px;
}

.card__text {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color: #787A80;
	padding: 5px 0 24px 0;
}

.card__view {
	text-decoration: none;
	color: #FF5A30;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #FF5A30;
	border-radius: 5px;
	padding: 10px 25px;
	display:inline-block;
	margin-bottom: 50px;
	transition: .25s linear;
}

.card__view:hover {
	color: #FFFFFF;
	background-color: #FF5A30;
}

/* Клиенты */

.clients {
	margin-bottom: 120px;
}

.client__items {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px 0 180px 0;
}

.client__comments {
	display: flex;
	list-style: none;
	justify-content: space-between;
	gap: 135px;
}

.profile__slider {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.profile__img {
	padding: 60px 0 24px 0;
}

.prof__slide {
	list-style: none;
	display: flex;
	gap: 10px;
}

.prof__back, .prof__next {
	font-size: 20px;
	color: #424551;
	text-decoration: none;
	border-radius: 50%;
	padding: 11px 12px;
	transition: .25s linear;
}

.prof__back:hover,
.prof__next:hover {
	background-color: #FF5A30;
	color: #FFFFFF;
}

.comment__text {
	margin: 0;
	padding-bottom: 24px;
	font-size: 16px;
	font-weight: 400;
	color: #424551;
}

.name {
	margin: 0;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #1E212C;
}

.company__name {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color: #787A80;
}

/* Статистика */

.statistic__items {
	display: flex;
	list-style: none;
	justify-content: center;
	gap: 50px;
}

.statistic__item {
	margin: 60px 0 180px 0;
}

.statistic__text {
	margin: 0;
	padding-top: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #1E212C;
	text-align: center;
}

/* Новости */

.news {
	margin-bottom: 120px;
}

.news__blocks {
	display: flex;
	gap: 30px;
	list-style: none;
	margin-top: 60px;
}

.news__info {
	display: flex;
	padding: 0 13px;
}

.info__data {
	border-right: 1px solid #787A80;
	padding: 0 12px;
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	color: #787A80;
}

.info__data:last-child {
	border-right: 0;
}

.news__items {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.news__item {
	padding-bottom: 25px;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.06);
}

.main__block {
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.06);
}

.main__block:hover .news__head {
	color:#FF5A30;
	cursor: pointer;
}

.news__item:hover .news__head {
	color:#FF5A30;
	cursor: pointer;
}

.info__text {
	margin-left: 10px;
}

.news__head {
	margin: 0;
	padding: 24px 25px 12px 25px;
	font-size: 20px;
	font-weight: bold;
	color: #1E212C;
	transition: .25s linear;
}

.news__text {
	margin: 0;
	padding: 16px 25px 25px 25px;
	font-size: 16px;
	font-weight: 400;
	color: #424551;
}

/* Заявление */

.application {
	width: 100%;
	height: 826px;
	background: url("../img/bg-footer.jpg") center no-repeat;
	background-size: cover;
}

.form__application {
	background-color: #FFFFFF;
	width: 500px;
	padding: 48px 40px;
	margin: 0 auto;
	position: relative;
	top: 80px;
}

.form__head {
	margin: 0;
	padding-bottom: 24px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: #1E212C;
}

.form__item {
	margin: 10px 0 20px 0;
	width: 100%;
	padding: 12px 16px;
	color: #9A9CA5;
	font-size: 14px;
	font-weight: 400;
	border-radius: 5px;
	border: 1px solid #D7DADD;
	background-color: #F4F5F7;
}
.form__item-text {
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #424551;
}

.form__item-check {
	color: #424551;
	font-weight: 400;
	font-size: 14px;
}

.form__check {
	margin-right: 12px;
	transform: scale(1.5);
}

.application__submit {
	color: #FFFFFF;
	padding: 16px 32px;
	margin: 24px auto 0 auto;
	display: block;
	border: 1px solid #FF5A30;
	background-color: #FF5A30;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	transition: .25s linear;
}

.application__submit:hover {
	border: 1px solid #424551;
	background-color: #424551;
	color: #FFFFFF;
}