/* Шапка сайта */

.header {
	display: flex;
	align-items: center;
	padding: 20px;
}

.logo {
	display: flex;
}

.menu {
	margin-left: 60px;
}

.menu__items {
	display: flex;
	gap: 40px;
	list-style: none;
}

.menu__link {
	text-decoration: none;
	font-size: 16px;
	color: #424551;
	font-weight: bold;
	transition: color .25s linear;
}

.menu__link:hover {
	color:#FF5A30;
}

.contact__action {
	display: flex;
	list-style: none;
	gap: 40px;
	margin-left: auto;
}

.action__items {
	display: flex;
	align-items: center;
	gap:20px;
}

.contact__link {
	font-size: 32px;
	color: #FF5A30;
	transition: color .25s linear;
}

.contact__link:hover {
	color:#000000;
}

.contact__text {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	color:#424551;
}

.contact__data {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	color:#1E212C;
}

/* Слайдер */

.slider {
	width: 100%;
	height: 100vh;
	background: url("../img/slider.jpg") center no-repeat;
	background-size: cover;
	position: relative;
}

.slide__back {
	position: absolute;
	top:50%;
	left:32px;
	font-size: 25px;
	color:#000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-radius: 50%;
	padding: 10px 12.5px;
	opacity: 0.5;
	transition: opacity .125s linear;
}

.slide__back:hover {
	opacity: 1;
}

.slide__next {
	position: absolute;
	right: 32px;
	top: 50%;
	font-size: 25px;
	color:#000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-radius: 50%;
	padding: 10px 12.5px;
	opacity: 0.5;
	transition: opacity .125s linear;
}

.slide__next:hover {
	opacity: 1;
}


.slider__block {
	color:#FFFFFF;
	padding: 220px 20px 100px 20px;
}

.heading {
	margin: 0;
	width: 575px;
	font-size: 72px;
	font-weight: bold;
	text-transform: uppercase;
}

.x__style {
	color:#FF5A30;
}

.text {
	margin: 24px 0 61px 0;
	width: 575px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}

.btn__items {
	display: flex;
	list-style: none;
	align-items: center;
	gap:20px;
}

.btn__learn {
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	padding: 12.5px 40px;
	text-decoration: none;
	text-transform: uppercase;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: .25s linear;
}

.btn__learn:hover {
	border: 1px solid #FF5A30;
	background-color: #FF5A30;
}

.btn__submit {
	border: 1px solid #FF5A30;
	background-color: #FF5A30;
	border-radius: 5px;
	padding: 12.5px 40px;
	text-decoration: none;
	text-transform: uppercase;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: .25s linear;
}

.btn__submit:hover {
	border: 1px solid #FFFFFF;
	background-color: transparent;
}

.page__items {
	display: flex;
	list-style: none;
	gap:5px;
	margin-top: 180px;
}

.page__item {
	opacity: 0.5;
	transition: opacity .125 linear;
}

.page__item:hover {
	opacity: 1;
}

.page__link {
	font-size: 28px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 150px 12px 0;
	border-bottom: 1px solid #FFFFFF;
}

/* Видео */

.video {
	margin: 120px auto 180px auto;
}

.block__heading {
	font-size: 46px;
	color: #1E212C;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

.block__text {
	font-size: 18px;
	color: #787A80;
	font-weight: 400;
	margin: 0;
	padding: 24px 0 60px 0;
	text-align: center;
}

.video__item {
	width: 100%;
	height: 500px;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
}

/* Значения */

.values {
	margin-bottom: 120px;
}

.boxes__values {
	display: flex;
	justify-content: space-between;
	list-style: none;
	text-align: center;
}

.boxes__item {
	padding: 0 94px;
	border-right: 1px solid #DADBDD;
}

.boxes__item:first-child {
	padding-left: 0;
}

.boxes__item:last-child {
	border-right: none;
	padding-right: 0;
}

.icon {
	margin: 0 auto;
}

.boxes__head {
	font-size: 20px;
	font-weight: bold;
	color: #1E212C;
	margin: 0;
	padding: 24px 0 8px 0;
}

.boxes__text {
	font-size: 16px;
	font-weight: 400;
	color: #787A80;
	margin: 0;
	line-height: 25px;
}

/* Запрос */

.request {
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.06);
	padding: 48px 60px;
	border-radius: 5px;
	margin-bottom: 120px;
}

.request__head {
	margin: 0;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: #1E212C;
	padding: 48px 0 32px 0;
}

.request__form {
	display: flex;
	gap:24px;
	justify-content: center;
}

.lbl__form {
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #424551;
	padding-bottom: 10px;
}

.sbmt__form {
	color: #9A9CA5;
	padding: 13px 56px 13px 15px;
	border: 1px solid #D7DADD;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
}

.btn__form {
	color: #FFFFFF;
	padding: 13px 32px;
	border: 1px solid #FF5A30;
	background-color: #FF5A30;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-left: 24px;
	cursor: pointer;
	transition: .25s linear;
}

.btn__form:hover {
	border: 1px solid #424551;
	background-color: #424551;
	color: #FFFFFF;
}

/* Услуги */

.service__idle {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.service__item {
	text-align: center;
	border: 1px solid #E5E8ED;
	border-radius: 5px;
	width: 24%;
	padding: 100px 0;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.06);
	cursor: pointer;
}

.service__icon {
	color: #FF5A30;
	font-size: 50px;
}

.service__head {
	margin: 0;
	padding-top: 25px;
	font-size: 20px;
	font-weight: bold;
	color: #1E212C;
}

.view__all {
	display: flex;
	justify-content: center;
	gap: 40px;
	align-items: center;
	margin: 80px 0 200px 0;
}

.view__head {
	margin: 0;
	font-size: 28px;
	font-weight: bold;
	color: #1E212C;
}

.view__link {
	color: #FFFFFF;
	padding: 15px 40px;
	border: 1px solid #FF5A30;
	background-color: #FF5A30;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	transition: .25s linear;
}

.view__link:hover {
	border: 1px solid #424551;
	background-color: #424551;
	color: #FFFFFF;
}